@{
    ViewData["Title"] = "Breath of the Wild Recipe Engine";
}



<div class="btn-group-vertical" role="group">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingredient 1
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fortified Pumpkin</a></li>
            <li><a class="dropdown-item" href="#">Goat Butter</a></li>
            <li><a class="dropdown-item" href="#">Fresh Milk</a></li>
            <li><a class="dropdown-item" href="#">Tabantha Wheat</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingredient 2
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fortified Pumpkin</a></li>
            <li><a class="dropdown-item" href="#">Goat Butter</a></li>
            <li><a class="dropdown-item" href="#">Fresh Milk</a></li>
            <li><a class="dropdown-item" href="#">Tabantha Wheat</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingredient 3
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fortified Pumpkin</a></li>
            <li><a class="dropdown-item" href="#">Goat Butter</a></li>
            <li><a class="dropdown-item" href="#">Fresh Milk</a></li>
            <li><a class="dropdown-item" href="#">Tabantha Wheat</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingredient 4
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fortified Pumpkin</a></li>
            <li><a class="dropdown-item" href="#">Goat Butter</a></li>
            <li><a class="dropdown-item" href="#">Fresh Milk</a></li>
            <li><a class="dropdown-item" href="#">Tabantha Wheat</a></li>
        </ul>
    </div>

    <button class="btn btn-secondary" type="button">Get Recipe</button>
</div>

