@model List<Botw_Recipes>;

@{
    ViewData["Title"] = "Breath of the Wild Recipe Engine";
}

<h1>Breath of the Wild Recipe Engine</h1>

<p class="Welcome">
    Welcome to the Breath of the Wild Recipe Engine!
</p>

<p class="Welcome2">
    Down below you can select an ingredient in each drop down menu, then when
    you have selected your ingredients you can generate the recipe to see how many hearts the recipe gives you,
    any stat bonuses the recipe may have, along with the recipe name and picture!
</p>


<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group-vertical" role="group">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ingredient 1
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item1">Fortified Pumpkin</a></li>
                    <li><a class="dropdown-item2">Goat Butter</a></li>
                    <li><a class="dropdown-item3">Fresh Milk</a></li>
                    <li><a class="dropdown-item4">Tabantha Wheat</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ingredient 2
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item1">Fortified Pumpkin</a></li>
                    <li><a class="dropdown-item2">Goat Butter</a></li>
                    <li><a class="dropdown-item3">Fresh Milk</a></li>
                    <li><a class="dropdown-item4">Tabantha Wheat</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ingredient 3
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item1">Fortified Pumpkin</a></li>
                    <li><a class="dropdown-item2">Goat Butter</a></li>
                    <li><a class="dropdown-item3">Fresh Milk</a></li>
                    <li><a class="dropdown-item4">Tabantha Wheat</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ingredient 4
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item1">Fortified Pumpkin</a></li>
                    <li><a class="dropdown-item2">Goat Butter</a></li>
                    <li><a class="dropdown-item3">Fresh Milk</a></li>
                    <li><a class="dropdown-item4">Tabantha Wheat</a></li>
                </ul>
            </div>

            <asp:button id="GetRecipe" onclick="GetRecipe_Click" runat="server" class="btn btn-secondary" type="button">Get Recipe</asp:button>
        </div>
    </div>
</div>





